.floating-home-button {
  position: sticky;
  top: 80px;
  left: 0px;          /* یا right: 30px; بسته به سمت دلخواه */
  z-index: 999999;
  padding: 10px 20px;  /* فاصله داخلی برای شکل مستطیل */
  border-radius: 8px;  /* گردی گوشه‌ها */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  font-weight: bold;
}

.floating-home-button:hover {
  background-color: #1565c0; /* رنگ کمی تیره‌تر در حالت hover */
  transform: scale(1.05);
}
