.centeral_picture{
    width: 450px;
    height: 350px;
    background-color: aqua;
}
.picture{
    width: 100%;
    height: 100%;
}
.box{
    width: 300px;
    height: 100px;
    border: 1px solid;
    background-color: rgb(40, 106, 163);
}