/* index.css */
@font-face {
  font-family: 'iranNas';
  src: url('./assets/fonts/IranNastaliq.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:'IranNastaliq', sans-serif;
}

.title{
  font-size: 5vw;
}

